@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  height: 100%;
  width: 100%;
}

.btn-primary {
  background-color: #d3d3d3;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.btn-secondary {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.navbar {
  background-color: #111111 !important;
}

.navbar .nav-item a {
  color: #d3d3d3 !important;
  font-weight: 700;
  font-size: 1rem;
}

.nav-logo h1 {
  font-size: 2rem;
  color: #fff;
}

.nav-logo h1 span {
  color: #0f7173;
}

.landing {
  background-image: url("./images/landing-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 90vh;
}

.landing .landing-text {
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 60%;
  height: 100%;
  margin: 0;
  padding-left: 50px;
}

.landing .landing-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.landing .landing-text h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1vw;
}

.landing .buttons {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#services {
  padding: 100px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#services .services-gif {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #1e6188;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 30px;
  border-radius: 100px;
  max-width: 60%;
  margin-right: 10px;
}

#services .services-gif img {
  width: 80%;
}

#services .services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#services .services h2 {
  font-size: 2.5rem;
  font-weight: 900;
}

#services .services h3 {
  font-size: 1.5rem;
  font-weight: 400;
}

#services .services .service-item {
  width: 100%;
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

#services .services .service-item .service-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80px;
}

#services .services .service-item .service-icon img {
  width: 100%;
}

#services .services .service-item .service-text-1 h3 {
  color: #f05d5e;
  font-weight: 700;
}

#services .services .service-item .service-text-2 h3 {
  color: #0f7173;
  font-weight: 700;
}

#services .services .service-item .service-text-3 h3 {
  color: #272932;
  font-weight: 700;
}

.divider {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.divider-text {
  text-align: center;
  font-weight: 900;
  width: 50%;
  text-align: left;
}

.divider-text h1 {
  font-size: 4rem;
  font-weight: 800;
}

.divider-text span {
  color: #0f7173;
}

.divider-line {
  border-left: 3px solid #f05d5e;
  height: 250px;
  position: absolute;
  left: 50%;
}

.divider-img {
  width: 50%;
}

.divider-img img {
  width: 100%;
}

.blue h1 {
  color: #f05d5e;
}

.green h1 {
  color: #171834;
}

.orange h1 {
  color: #0f7173;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 50px 0 0;
  border-radius: 50px;
  padding: 50px 0;
  gap: 20px;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px; */
}

.about-text {
  text-align: justify;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 400;
}

.about-text p {
  font-size: 1rem;
  line-height: 1.5;
}

.about-text h1 {
  margin-bottom: 15px;
  font-weight: 900;
  font-size: 2rem;
}

.full-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2px;
  width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  border-top: #0f7173 solid 5px;
  margin-top: 50px;
}

.full-text h1 {
  font-size: 3rem;
  font-weight: 900;
  padding: 30px 0;
}

.full-text h2 {
  font-size: 2rem;
  font-weight: 100;
  margin: 0;
}

.full-text p {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 100px;
}

.prices-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px;
}

.prices-container .blueP {
  -webkit-box-shadow: rgba(240, 93, 94, 0.5) 0px 30px 90px;
          box-shadow: rgba(240, 93, 94, 0.5) 0px 30px 90px;
}

.prices-container .greenP {
  -webkit-box-shadow: rgba(15, 113, 115, 0.5) 0px 30px 90px;
          box-shadow: rgba(15, 113, 115, 0.5) 0px 30px 90px;
}

.prices-container .prices-item {
  padding: 20px;
  width: 300px;
  border-radius: 50px;
}

.prices-container .prices-item-text {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.prices-container .prices-item-text h1 {
  font-size: 2rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.prices-container .prices-item-text h4 {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.prices-container .prices-item-text ul {
  list-style: none;
  text-align: center;
  padding: 0px;
}

.prices-container .prices-item-text ul li {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.prices-container .prices-item-text .btn-secondary,
.prices-container .prices-item-text .btn-primary {
  background-color: #000;
  color: #d3d3d3;
}

.software {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 100px 0 0;
  width: 80%;
}

.software h1 {
  font-size: 3rem;
  font-weight: 900;
  margin: 60px 0;
}

.software h3 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 30px;
}

.software h4 {
  font-size: 2.2rem;
  font-weight: 300;
  margin-bottom: 50px;
}

.software-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.software-items .a {
  background-color: rgba(15, 113, 115, 0.6);
}

.software-items .b {
  background-color: rgba(15, 113, 115, 0.3);
}

.software-items .c {
  background-color: rgba(15, 113, 115, 0.1);
}

.software-items .d {
  background-color: rgba(240, 93, 94, 0.1);
}

.software-items .e {
  background-color: rgba(240, 93, 94, 0.3);
}

.software-items .f {
  background-color: rgba(240, 93, 94, 0.6);
}

.software-items .g {
  background-color: rgba(60, 64, 67, 0.6);
}

.software-items .h {
  background-color: rgba(60, 64, 67, 0.1);
}

.software-items h4 {
  padding: 100px 0px;
  font-size: 1.5rem;
  font-weight: 800;
  margin: 0;
  border-bottom: #0f7173 solid 5px;
}

.software-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 320px;
  height: 200px;
  text-align: left;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.software-item-img {
  width: 50%;
}

.software-item-img img {
  width: 50px;
}

.software-item-text {
  width: 100%;
}

.software-item-text h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
}

.double-img img {
  width: 10rem;
}

.double-section {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}

.double-section h1 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 40px;
  text-transform: uppercase;
}

.double-section h1 span {
  color: #f05d5e;
}

.double-section .comm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.double-section .comm h4 {
  font-size: 1.2rem;
  font-weight: 900;
  border-bottom: #0f7173 dotted 5px;
  width: 80%;
  letter-spacing: 0.1px;
  padding-top: 20px;
}

.double-section .comm > p {
  font-size: 1rem;
  padding-top: 15px;
}

.double-section .comm-points p {
  margin: 0;
}

.double-section h4 {
  font-size: 1rem;
  font-weight: 300;
  margin: 0;
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 100px 0;
}

.team h1 {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  text-align: left;
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.team-img {
  width: 50%;
}

.team-img img {
  width: 100%;
}

.contact {
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.contact-icon {
  width: 100px;
}

.contact-icon img {
  width: 100%;
}

footnote {
  text-align: center;
}

@media (max-width: 990px) {
  .navbar h1 {
    font-size: 1.2rem;
  }
  .landing {
    background-image: url("./images/logogif.gif");
    background-size: 60%;
    background-position: bottom;
    background-repeat: no-repeat;
    height: 92vh;
    background-color: #2b6364;
    position: relative;
  }
  .landing .landing-text {
    padding: 10px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 20%;
  }
  .landing .landing-text h1 {
    font-size: 2rem;
    font-weight: 900;
  }
  .landing .landing-text h2 {
    font-size: 1.5rem;
    font-weight: 100;
    padding: 10px 20px 10px 0;
  }
  #services .services-gif {
    display: none;
  }
  .divider {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    max-width: 100%;
  }
  .divider-text {
    width: 100%;
  }
  .divider-text h1 {
    font-size: 1.5rem;
    font-weight: 900;
  }
  .divider .divider-line {
    display: none;
  }
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .full-text {
    margin: 0;
    padding: 12px;
    width: 100%;
  }
  .comm {
    padding: 0;
  }
  .comm h1 {
    font-size: 2.2rem;
    font-weight: 900;
    padding-top: 50px;
  }
  .team {
    padding: 12px;
  }
  .contact-icon {
    gap: 10px;
    width: auto;
  }
  .contact-icon img {
    width: 50px;
  }
  footnote p {
    font-size: 0.3rem;
  }
  .software-end h4 {
    font-size: 1.2rem;
    text-align: justify;
    font-weight: 400;
  }
}
